<header class="flex justify-between items-center">
    <img
    class="logo_portfolio" 
    src="https://upload.wikimedia.org/wikipedia/commons/b/b1/Pok%C3%A9ball.png" 
    alt="logo_portfolio"
    />

    <nav>
        <a href="#home">home</a>
        <a href="#about">about</a>
        <a href="#proyects">proyects</a>
        <a href="#Contact">Contact</a>  
    </nav>
</header>