---
interface Props {
	title: string;
}
import Header from '../components/Header.astro';
const { title } = Astro.props;
---

<!doctype html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="description" content="Astro description" />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="generator" content={Astro.generator} />
		<title>{title}</title>
	</head>
	<body>
		<Header>
		<slot />
	</body>
</html>

<style is:global>
	:root {
		--black_back: #222222;
		--black_in: #252525;
		--grey: #333333;
		--
	}
	html {
		font-family: system-ui, sans-serif;
		background: #222;
	}
	
	body{
		display: flex;
		padding: 0;
		justify-content: center;
		height: 100vh;
		min-height: 100vh;
		font-size: 1rem;
		color: white;
		background:var(--black_back);
		background-size: cover;
	}

	a{
    position: relative;
    text-decoration: none;
    color: white;
    text-transform: uppercase;
    letter-spacing: .2em;
	font-size: 1.5rem;
	}

	/*--- Menu bar ---*/ 
	header{
	padding: 1em 0rem;
    position: flex;
    background-color: transparent;
    height: 50px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
	}

	.logo_portfolio{
		height: 2rem;
		width: 2rem;
		padding-left: 0.5rem;
	}

</style>